<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876443553362-imbc879mgnmj106vt801rvc1raotdqji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876443553362-imbc879mgnmj106vt801rvc1raotdqji</string>
	<key>API_KEY</key>
	<string>AIzaSyAyvkr16jlCeITM21yhp44nf47AI8--tQA</string>
	<key>GCM_SENDER_ID</key>
	<string>876443553362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onur.LoodosCase</string>
	<key>PROJECT_ID</key>
	<string>loodoscase-da9ad</string>
	<key>STORAGE_BUCKET</key>
	<string>loodoscase-da9ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876443553362:ios:fcf2251961f9c9ca14198b</string>
</dict>
</plist>